[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
markovify = "*"
nltk = "*"
mosestokenizer = "*"
gunicorn = "*"

[dev-packages]
pytest = "*"
pytest-xdist = "*"
pytest-repeat = "*"
pytest-timeout = "*"
pytest-doctestplus = "*"
diceware-utils = "*"
bottle = "*"

[requires]
python_version = "3.6"
