apipkg==1.4
attrs==17.4.0
beautifulsoup4==4.6.0
certifi==2018.1.18
chardet==3.0.4
execnet==1.5.0
idna==2.6
markovify==0.7.1
more-itertools==4.1.0
nltk==3.2.5
numpy==1.14.2
pluggy==0.6.0
py==1.5.3
pytest==3.5.0
pytest-doctestplus==0.1.2
pytest-forked==0.2
pytest-repeat==0.4.1
pytest-timeout==1.2.1
pytest-xdist==1.22.2
PyYAML==3.12
six==1.11.0
tox==3.0.0
Unidecode==1.0.22
urllib3==1.22
virtualenv==15.2.0
